
@keyframes lefteaseinAnimate {
    0% {
        transform: translateX(-2000px);
        opacity: 0;
    }
    /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}

@-webkit-keyframes lefteaseinAnimate {
    0% {
        -webkit-transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-o-keyframes lefteaseinAnimate {
    0% {
        -webkit-transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-ms-keyframes lefteaseinAnimate {
    0% {
        -webkit-transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes lefteaseinAnimate {
    0% {
        -webkit-transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@font-face {
    font-family: font1;
    src: url("../font/5.otf");
}
@font-face {
    font-family: font4;
    src: url("../font/7.ttf");
}
@font-face {
    font-family: font5;
    src: url("../font/8.ttf");
}
@font-face {
    font-family: font2;
    src: url("../font/4.ttf");
}
@font-face {
    font-family: font3;
    src: url("../font/6.ttf");
}
@font-face {
    font-family: title1;
    src: url("../font/title.ttf");
}
@font-face {
    font-family: title2;
    src: url("../font/title2.otf");
}
@font-face {
    font-family: title3;
    src: url("../font/title3.ttf");
}
@font-face {
    font-family: intro;
    src: url("../font/intro3.ttf");
}
@font-face {
    font-family: intro2;
    src: url("../font/intro2.ttf");
}
@keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-webkit-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-moz-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-o-keyframes fadein{
      0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-ms-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
body{
    animation:fadein 0.5s ease-in ;
    -webkit-animation:fadein .5s linear 1;
    -moz-animation:fadein .5s linear 1;
    -o-animation:fadein .5s linear 1;
    -ms-animation:fadein .5s linear 1;
}

a{
    text-decoration: none;
}
.container1{
    height: 45px;
    overflow: hidden;
}
.col-1,
.col-2,
.col-6,
.col-4,
.col-8,
.col-1,
.col-3,
.col-5,
.col-7 ,
.col-0\.5,
.col-6\.5{
    float: left;
    min-height: 10px;
}
.col-1{
    width: 15%;
}
.col-0\.5{
    width: 5%;
}
.col-6\.5{
    width: 65%;
}
.col-2 {
    width: 20%;
}

.col-6 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

.col-8 {
    width: 80%;
}

.col-7 {
    width: 70%;
}

.col-3 {
    width: 30%;
}
body{
    margin: 0;
    padding: 0;
}
.top2 {
    background: black;
    transition: background-color 500ms ease-in;
}


.top2,
.top2 .nav {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.top2 .logo {
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.top2 .logo a {
    height: 45px;
    display: block;
    line-height: 45px;
    color: #f8efd4;
    font-size: 25px;
    margin-top: 5px;
}

.top2 .logo a:hover{
    color: #c56183;
}

.top2 .nav {
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-left: 70px;
}

.top2 .nav .title {
    margin: 0 20px;
    font-family: font3;

}

.top2 .nav .title a {
    font-size: 25px;
    color: #ffa5a5;
}
.top2 .nav .btn a{
    color: white;
    border-bottom: 1px solid white;
}

.top2 .nav .title a:hover {
    color: #e7e7de;
    border-bottom: 1px solid #e7e7de;
    font-weight: bold;
}
.fixnav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
}
.back{
    position: fixed;
    top:45px;
    height: 900px;
    background-image: url("../img/back3.png");
    z-index: 0;
    width: 100%;

}
.tail,
.head,
.front{
    position: relative;
    width: 800px;
    margin: 0 auto;
    z-index: 10;
    margin-top: 40px;
}
.head{
    background-image: url("../img/head2.png");

    height: 200px;
    margin: 0;
}

.left{
    margin-left:  40px;
    margin-top: 100px;
}
.info >  div{
    margin: 30px;
}
.media > div{
    margin: 15px;
}
.media a{
    display: block;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    width: 32px;
}
.media a:hover{
    color: #0f3057;
}
.info .title{
    font-family: font2;
    font-size: 10px;
    color: #ffffff;
}
.info .writer{
    font-family: font2;
    font-size: 10px;
        color: #ffffff;

}
.info .genre{
    font-family: intro;
        color: #ffffff;

}
.info .date{
    font-family: font1;
    font-size: 5px;
    color: beige;
}
.left{
    animation: lefteaseinAnimate 0.8s ease 1; /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/
    -webkit-animation: lefteaseinAnimate 1s ease 1;
    -ms-animation: lefteaseinAnimate 1s ease 1;
    -o-animation: lefteaseinAnimate 1s ease 1;
    -moz-animation: lefteaseinAnimate 1s ease 1;

    /*规定动画的最后状态为结束状态*/
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.head{
    position: relative;
    overflow: visible;
}
.tail{
    background: rgba(223, 228, 234,.3);
    padding-top: 100px;
    height: 1000px;
    margin: 0;

}
.front{
    position: relative;

}
.pic{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 320px;
    top: 100px;
    z-index: 11;
}
img{
    overflow: visible;
    z-index: 9;
    width: 100%;
    width: 100%;
}
.tail2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tail2 .singer{
    font-family: title2;
    font-size: 30px;
}
.tail2 .songname{
    font-family: title1;
    font-size: 25px;
    margin-top: 20px;
}
.tail2 .review{
    width: 600px;
    margin-top: 40px;
    font-family: intro;
    line-height: 30px;
    color: white;

}
.pic,
.tail2{
    animation: lefteaseinAnimate 0.8s ease 1; /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/
    -webkit-animation: lefteaseinAnimate 1s ease 1;
    -ms-animation: lefteaseinAnimate 1s ease 1;
    -o-animation: lefteaseinAnimate 1s ease 1;
    -moz-animation: lefteaseinAnimate 1s ease 1;

    /*规定动画的最后状态为结束状态*/
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}