@font-face {
    font-family: font1;
    src: url("../font/5.otf");
}

@font-face {
    font-family: font4;
    src: url("../font/7.ttf");
}

@font-face {
    font-family: font5;
    src: url("../font/8.ttf");
}

@font-face {
    font-family: font2;
    src: url("../font/4.ttf");
}

@font-face {
    font-family: font3;
    src: url("../font/6.ttf");
}

@font-face {
    font-family: title1;
    src: url("../font/title.ttf");
}

@font-face {
    font-family: title2;
    src: url("../font/title2.otf");
}

@font-face {
    font-family: title3;
    src: url("../font/title3.ttf");
}

@font-face {
    font-family: intro;
    src: url("../font/intro3.ttf");
}

@font-face {
    font-family: intro2;
    src: url("../font/intro2.ttf");
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

body {
    overflow: hidden;
    animation: fadein 0.4s ease-in;
    -webkit-animation: fadein .4s linear 1;
    -moz-animation: fadein .4s linear 1;
    -o-animation: fadein .4s linear 1;
    -ms-animation: fadein .4s linear 1;
}

a {
    text-decoration: none;
}

.container1 {
    height: 45px;
    overflow: hidden;
}

.col-1,
.col-2,
.col-6,
.col-4,
.col-8,
.col-1,
.col-3,
.col-5,
.col-7,
.col-0\.5,
.col-6\.5 {
    float: left;
    min-height: 10px;
}

.col-1 {
    width: 15%;
}

.col-0\.5 {
    width: 5%;
}

.col-6\.5 {
    width: 65%;
}

.col-2 {
    width: 20%;
}

.col-6 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

.col-8 {
    width: 80%;
}

.col-7 {
    width: 70%;
}

.col-3 {
    width: 30%;
}


body {
    margin: 0;
    padding: 0;
}

.top2 {
    background: #34495e;
    transition: background-color 500ms ease-in;
}


.top2,
.top2 .nav {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.top2 .logo {
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.top2 .logo a {
    height: 45px;
    display: block;
    line-height: 45px;
    color: #f8efd4;
    font-size: 25px;
    margin-top: 5px;
}

.top2 .logo a:hover {
    color: #c56183;
}

.top2 .nav {
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-left: 70px;
    max-width: 1440px;
}

.top2 .nav .title {
    margin: 0 20px;
    font-family: font3;

}

.top2 .nav .title a {
    font-size: 25px;
    color: #ffa5a5;
}

.top2 .nav .contact a {
    color: white;
    border-bottom: 1px solid white;
}

.top2 .nav .title a:hover {
    color: #e7e7de;
    border-bottom: 1px solid #e7e7de;
    font-weight: bold;
}

.fixnav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
}

.container2,
.content {
    width: 100%;
    height: 100%;
    background-image: url("../img/c1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.container2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, .5);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.basic-info,
.media{
    z-index: 2;
}
.basic-info > div{
    margin: 50px 0;
}
.media > div{
    margin: 30px 0;

}
.basic-info .phone{
    font-family: intro2;
    font-size: 30px;
    color: white;
    z-index: 2;
}
.basic-info .local{
    font-family: intro2;
    font-size: 20px;
}
.media .icon i{
    color: seashell;
    font-size: 30px;
}
.media .icon i:hover{
    color: #e17055;
}