@font-face {
    font-family: font1;
    src: url("../font/5.otf");
}
@font-face {
    font-family: font4;
    src: url("../font/7.ttf");
}
@font-face {
    font-family: font5;
    src: url("../font/8.ttf");
}
@font-face {
    font-family: font2;
    src: url("../font/4.ttf");
}
@font-face {
    font-family: font3;
    src: url("../font/6.ttf");
}
@font-face {
    font-family: title1;
    src: url("../font/title.ttf");
}
@font-face {
    font-family: title2;
    src: url("../font/title2.otf");
}
@font-face {
    font-family: title3;
    src: url("../font/title3.ttf");
}
@font-face {
    font-family: intro;
    src: url("../font/intro3.ttf");
}
@font-face {
    font-family: intro2;
    src: url("../font/intro2.ttf");
}
@keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-webkit-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-moz-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-o-keyframes fadein{
      0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
@-ms-keyframes fadein{
    0%{opacity: 0;
         }
    20%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}
body{
    animation:fadein 0.4s ease-in ;
    -webkit-animation:fadein .4s linear 1;
    -moz-animation:fadein .4s linear 1;
    -o-animation:fadein .4s linear 1;
    -ms-animation:fadein .4s linear 1;
}

a{
    text-decoration: none;
}

.container2{
    overflow: hidden;
    width: 100%;
    box-sizing: content-box;
    padding-top: 50px;
    background-image: url("../img/reviewback.png");
}
.container2 >* div{
    overflow: hidden;
}

.container1{
    height: 45px;
    overflow: hidden;
}
.col-1,
.col-2,
.col-6,
.col-4,
.col-8,
.col-1,
.col-3,
.col-5,
.col-7 ,
.col-0\.5,
.col-6\.5{
    float: left;
    min-height: 10px;
}
.col-1{
    width: 15%;
}
.col-0\.5{
    width: 5%;
}
.col-6\.5{
    width: 65%;
}
.col-2 {
    width: 20%;
}

.col-6 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

.col-8 {
    width: 80%;
}

.col-7 {
    width: 70%;
}

.col-3 {
    width: 30%;
}



body{
    margin: 0;
    padding: 0;
}
.top2 {
    background: #0f3057;
    transition: background-color 500ms ease-in;
}


.top2,
.top2 .nav {
    display: flex;
    flex-direction: row;
    height: 45px;
}


.top2 .logo {
    margin: 0;
    padding: 0;
    margin-left: 50px;

}

.top2 .logo a {
    height: 45px;
    display: block;
    line-height: 45px;
    color: #f8efd4;
    font-size: 25px;
    margin-top: 5px;
}

.top2 .logo a:hover{
    color: #c56183;
}

.top2 .nav {
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-left: 70px;

}

.top2 .nav .title {
    margin: 0 20px;
    font-family: font3;

}

.top2 .nav .title a {
    font-size: 25px;
    color: #ffa5a5;
}
.top2 .nav .review a{
    color: white;
    border-bottom: 1px solid white;
}

.top2 .nav .title a:hover {
    color: #e7e7de;
    border-bottom: 1px solid #e7e7de;
    font-weight: bold;
}
.fixnav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
}
.container2 .title,
.container2 .album_row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;

}
.reviewlist{
    margin: 100px 20px;
}
.album_row .album{
    padding: 5px 15px;
    height: 300px;
}
.container2 .content{
    font-family: font1;
    font-size: 18px;
    border-bottom: 2px solid brown;
    color: #00587a;
    margin-top: 30px;
}
.album_row{
    height: 400px;
    margin-bottom: 50px;

    border-bottom: 1px solid rgba(255, 255, 255,.4);
}
.album_row .pic{
    width: 90%;
    height: 67%;
    position: relative;
    margin: 0 auto;
}
.album_row img{
    width: 92%;
    height: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.album_row img:hover{
      width: 100%;
    height: 96%;
    transition: 400ms;

}

.container2 .singer{
    font-family: intro2;
    font-size: 20px;
}
.container2 .albumname{
    font-family: font3;
    font-size: 30px;
    color: rgba(255, 255, 255,1.0);
}
.container2 .genre{
    font-family: title3;
    font-size: 10px;
    color: rgba(255, 255, 255,1.0);
}
.album_row img :hover{
    width: 100%;
    height: 98%;
}